/* src/css/GameBoard.css */

.board {
    display: grid;
    margin-bottom: 0.5em;
    gap: 2px;
    position: relative;
    border: 5px solid black;
    margin-top: 2em;
}

.board-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell {
    width: 45px;
    height: 45px;
    background-color: lightgrey;
}

.cell.snake1 {
    background-color: green;
}

.cell.snake2 {
    background-color: blue;
}

.cell.food {
    background-color: red;
    border-radius: 50%;
}

.game-finished {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.game-finished.game-over {
    background-color: rgba(197, 20, 20, 0.7);
}

.game-finished.winner-page {
    background-color: rgba(39, 190, 18, 0.7);
}